@charset "UTF-8";

/*Paleta de cores
--------------------
laranja claro: #F66924
laranja escuro: #C13F0B
vermelho escuro: #932C0B
verde: #78581D
preto: #2C1414
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #C13F0B;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);

    transition: width .3s, height .3s;
}

section#login > div#imagem {
    display: block;
    background: #C13F0B url(../imagens/imagem-torii.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 6px;

}
section#login > div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

form > input[type=submit] {
    display: block;
    width: 100%;
    height: 40%;
    margin-top: 10px;
    padding: 5px;

    background-color: #78581D;
    border-radius: 5px;
    border-color: #932C0B;
    color: white;
}

form > input[type=submit]:hover {
    background-color: #533d15;
}

form > a.botao {
    display: block;
    width: 100%;
    height: 40%;
    text-align: center;
    text-decoration: none;
    padding-bottom: 5px;
    margin-top: 10px;

    border-radius: 5px;
    border: 2px solid;
    border-color: #932C0B;
    background-color: #78581D;
    color: white;
}

form > a.botao:hover {
    background-color: #533d15;
}

form > div.campo {
    display: block;
    margin: 5px 0px;
    padding-bottom: 5px;
    background-color: #C13F0B;
    border-radius: 5px;
}

form > div.campo > label {
    display: none;
}